*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------- */

@font-face {
  font-family: "norsebold";
  src: url("norsebold-webfont.woff2") format("woff2"),
    url("norsebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.content {
  width: clamp(400px, 80%, 1350px);
  display: flex;
  background-color: rgb(240, 240, 240);
}

.side-panel {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* max-width: 500px; */

  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.banner {
  position: relative;
  top: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min(20vw, 142px);
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
  font-family: "norsebold", sans-serif;
  font-size: calc(32px + 3vw);
}
.odin-logo {
  height: 85%;
}

.img-credit {
  color: white;
  padding: 8px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.img-credit a,
.img-credit a:visited,
.img-credit a:hover,
.img-credit a:focus,
.img-credit a:active {
  color: white;
}

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.main-top,
legend {
  font-size: 24px;
  padding: 32px 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-middle {
  background-color: #f7f7f7;
  box-shadow: 0px 8px 4px -4px lightgrey;
  margin-bottom: 32px;
  padding-bottom: 36px;
}

fieldset {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 0px;
}

.form-chunk {
  padding: 12px 64px;
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  width: 250px;
  height: 30px;

  padding: 0px 8px;

  border-radius: 4px;
  border: 1px solid #e5e7eb;
}

input:focus {
  outline: none;
  border: 1px solid rgba(70, 70, 253, 0.603);
  box-shadow: 1px 1px 2px grey;
}

input:invalid {
  border: 1px solid red;
}

.main-bottom {
  display: flex;
  flex-direction: column;
}

.account-button {
  width: 200px;
  height: 40px;
  margin-left: 64px;
  margin-bottom: 32px;

  border-radius: 8px;
  border: 0;
  outline: none;
  box-shadow: 2px 2px 4px 2px lightgray;
  background-color:#596D48 ;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: white;

}
.log-in-link {
  margin-left: 64px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.log-in-link a,
.log-in-link a:visited,
.log-in-link a:hover,
.log-in-link a:focus,
.log-in-link a:active {
  color: #596D48 ;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

